/* CSS for hovedsiden retro consoles*/


body{
	background-color: #78788C;
	font-size: 87,5%;
	font-family:arial, serif;
	line-height: 1,5;
	text-align: left;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

/*-----------------------------------------Logo----------------------------------------------------------*/

#logo img{
  width: 100%;
  height: auto;
  margin: 2%, 0;
 
 }




/*---------------------------Dropdown menu-------navigation---------------------------------------------*/

#navigation{
	margin-left: 10%;
	border-radius: 5px;
	
	
}
nav ul{
	margin: 0px;
	padding: 0px;
}
nav ul li {
	background-color: #003399;
	border: 2px solid gray;
	width: 275px;
	height: 50px;
	line-height: 50px;
	float: left;
	text-align: center;
	list-style: none;
	border-radius: 5px;
 
}
nav ul li a{
	color: white;
	text-decoration: none;
	display: block;
}
nav ul li a:hover{
	background-color: #990000;
}
nav ul li ul li {
	display: none;
}
nav ul li:hover ul li{
	display: block;
}

/*--------------------------------------------Aside InterFACE------------------------------------------*/

#interface{
	/*background-color: blue;
	border: 3px solid white;
	margin-left: 1365px;
	margin-top: 0px;
	margin-right: 370px;
	padding: 5px;*/
	
	margin-top: 2%;
	padding: 5px;
	font-family: verdana, arial, serif;
	font-size: 14px;
	border-radius: 5px;
	margin-right: 50%;

}

aside a{
	color: white; 
	text-decoration: none; 
	
}

aside a:hover{
	color: #990000;
	text-decoration: underline;
}
#user{
	padding: 10px;
	border: solid 1px #707070;
	transition: box-shadow 0.3s, border 0.3s;
	width: 75%;
}
#pass{
	padding: 10px;
	border: solid 1px #707070;
	transition: box-shadow 0.3s, border 0.3s;
	width: 75%;
}
input:focus{
	border: solid 3px #red;
	box-shadow: 0 0 5px 1px #FFF;
}
#btn{
	background: gray;
	color: white;
	font-family: verdana, arial;
	padding: 10px;
	border: solid 1px #707070;
	transition: box-shadow 0.3s, border 0.3s;
	width: 125px;
	
	
}





/* ----- produktinnhold hovedside --------------*/

.produkt{	
    float: left;
	margin: 120px;
	margin-left: 100px;
	padding: 10px;
	width: 350px;
	height: 350px;
    margin-top: 120px;
	border: 1px solid gray;
	background-color: red;
}
.propic {
	height:200px;
	width:350px;
}
